{
  "test": true,
  "environment": "staging",
  "secrets": "{\"PORT\":3000,\"APP_NAME\":\"Maestro_Demo\",\"APP_ENV\":\"production\",\"APP_KEY\":\"base64:mTKdvsz2/Ips0hLbWFs8ZxuOtIrjYiyMpL8uupQJVvw=\",\"APP_DEBUG\":\"true\",\"LOG_CHANNEL\":\"stack\"}",
  "repository": {
    "url": "https://github.com/veezor/veezor-demo",
    "branch": "staging"
  },
  "vpc": {
    "name": "veezor",
    "cidr": "10.0.0.0/16",
    "id": "vpc-a58dbcdd"
  },
  "tags": "[[\"owner\",\"veeezor\"],[\"environment\",\"staging\"]]",
  "aws": {
    "iam": {
      "deploy_user_exist": true,
      "app_user_exist": true
    }
  }
}