{
  "test": true,
  "environment": "staging",
  "secrets": "{\"PORT\":3000}",
  "repository": {
    "url": "https://github.com/veezor/veezor-demo",
    "branch": "staging"
  },
  "vpc": {
    "name": "veezor",
    "cidr": "10.0.0.0/16",
    "id": "vpc-a58dbcdd",
    "subnets": {
      "private": "[\"subnet-0020a5bbd48332e48\",\"subnet-0a39391d352cc69a6\"]",
      "public": "[\"subnet-0f8643c1901be3c84\",\"subnet-0f737e6df3dfb3b57\"]"
    }
  },
  "tags": "[[\"owner\",\"veeezor\"],[\"environment\",\"staging\"]]"
}
